/* style.css */
body {
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: red;
    font-family: Arial;
}
